<html>
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
    <h4>폼 전송 - 실습</h4>
    <form action="/receive" method="POST">
        <fieldset>
            <legend>필수 입력</legend>
                <label>이름
                    <input type="text" name="name" required><br>
                </label>
                <br>
                성별
                <input type="radio" name="gender" id="gender_1" value="남" required>
                    <label for = "gender_1">남</label>
                <input type="radio" name="gender" id="gender_2" value="여" required>
                    <label for = "gender_1">여</label>
                <br>
        </fieldset>
        <br>

        <fieldset>
            <legend>추가정보</legend>
                생년월일
                <select name ="birth_year">
                    <option>
                        <%for(var i=1950; i <= 2022; i ++) {%>
                        <option value="<%=i%>"><%=i%></option>
                        <%}%>
                    </option>
                </select>년

                <select name = "birth_month">
                    <option>
                        <%for(var j=1; j <= 12; j ++) {%>
                            <option value="<%=j%>"><%=j+"월"%></option>
                            <%}%>
                    </option>
                </select>월

                <select name = "birth_day">
                    <option>
                        <%for(var k=1; k <= 31; k ++) {%>
                            <option value="<%=k%>"><%=k+"월"%></option>
                            <%}%>
                    </option>
                </select>일
                <br>
                <br>
                <label for="emial"> E-mail 
                    <input type="email" id="email" name="email">
                </label>
                
                <br>
                <br>
                관심사
                <input type="checkbox" name="hobby" value="여행">여행
                <input type="checkbox" name="hobby" value="패션">패션
                <input type="checkbox" name="hobby" value="음식">음식
                <br>
                <br>
                좋아하는색
                <input type="color" name="color">
                
                
        </fieldset>
        <br>
        
        <button>회원가입</button>
    </form>
</body>
</html>