<html>
    <head>
        <title>ex_post_receive</title>
        <style>
            /* p {
                color: <%=color%>
            } */
        </style>

    </head>

    <body>
        이름 : <p><%=name%><br></p>
        성별 : <p><%=gender%><br></p>
        생년월일 : <p><%=birth_year + "년 "%><%=birth_month + "월 "%><%=birth_day + "일"%><br></p>
        이메일 : <p><%=email%><br></p>
        관심사 : <p><%=hobby%><br></p>
        
    </body>
</html>